body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(135deg, #0f0f0f, #1c1c1c);
    color: #ecf0f1;
}

.hidden { display: none; }

/* LOGIN */
.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 120px;
    margin-bottom: 15px;
}

.subtitle {
    color: #aaa;
    margin-bottom: 20px;
}

.login-container input {
    width: 260px;
    padding: 10px;
    margin: 6px 0;
    border-radius: 6px;
    border: none;
}

.login-container button {
    width: 260px;
    padding: 12px;
    margin-top: 10px;
    background: #2ecc71;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

/* ADMIN */
.admin-panel header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1e8449;
    padding: 15px;
}

.admin-panel header img {
    width: 50px;
}

.admin-content {
    padding: 20px;
}

.admin-content input {
    display: block;
    width: 300px;
    padding: 8px;
    margin: 5px 0;
}

/* CAISSE */
.caisse {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 20%;
    background: #111;
    padding: 20px;
    text-align: center;
}

.sidebar-logo {
    width: 80px;
    margin-bottom: 10px;
}

.sidebar button {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    background: #2ecc71;
    border: none;
    cursor: pointer;
}

.products {
    width: 50%;
    padding: 20px;
    overflow-y: auto;
}

.product {
    background: #2a2a2a;
    padding: 12px;
    border-radius: 8px;
    margin: 6px 0;
    display: flex;
    justify-content: space-between;
}

.product button {
    background: #1e8449;
    border: none;
    padding: 6px 10px;
}

.cart {
    width: 30%;
    background: #0f0f0f;
    padding: 20px;
}

.pay {
    width: 100%;
    padding: 12px;
    background: #27ae60;
    border: none;
    margin-top: 10px;
}
