body{
    margin:0;
    font-family:Segoe UI, sans-serif;
    background:#1b1b1b;
    color:#fff;
}

.hidden{display:none}

button{
    padding:10px;
    border:none;
    border-radius:8px;
    background:#ff9800;
    color:#fff;
    cursor:pointer;
}

.login-container{
    max-width:350px;
    margin:100px auto;
    background:#292929;
    padding:30px;
    border-radius:15px;
    text-align:center;
}

.sidebar{
    width:200px;
    background:#222;
    padding:20px;
}

.panel{padding:20px}

#productsPanel,
.caisse{
    display:grid;
    grid-template-columns:1fr 300px;
    gap:20px;
}

#productList,
#productListCashier{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(200px,1fr));
    gap:15px;
}

.product{
    background:#222;
    padding:15px;
    border-radius:12px;
    display:flex;
    justify-content:space-between;
}

.cart{
    background:#fff;
    color:#000;
    border-radius:15px;
    padding:20px;
}

.cart ul{
    list-style:none;
    padding:0;
}

.cart li{
    margin-bottom:8px;
    font-weight:600;
}

.total{
    font-size:18px;
    margin-top:15px;
}
