body{
    margin:0;
    font-family:Segoe UI, sans-serif;
    background:#1b1b1b;
    color:#eee;
}

.hidden{display:none}

/* LOGIN */
.login{
    max-width:360px;
    margin:120px auto;
    background:#292929;
    padding:30px;
    border-radius:18px;
    text-align:center;
}

.login input{
    width:100%;
    padding:10px;
    margin:8px 0;
    border:none;
    border-radius:8px;
}

/* APP */
.app{
    display:grid;
    grid-template-columns:220px 1fr 280px;
    height:100vh;
}

/* SIDEBAR */
.sidebar{
    background:#222;
    padding:15px;
}

/* CENTRE */
.center{
    padding:20px;
}

.products{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(160px,1fr));
    gap:12px;
}

.product{
    background:#f3f3f3;
    color:#000;
    padding:12px;
    border-radius:12px;
    display:flex;
    justify-content:space-between;
}

/* PANIER */
.cart{
    background:#fff;
    color:#000;
    padding:20px;
}

.cart ul{
    list-style:none;
    padding:0;
}

.total{
    font-weight:bold;
    margin-top:10px;
}

/* BOUTONS */
button{
    border:none;
    border-radius:8px;
    padding:8px;
    cursor:pointer;
    background:#ff9800;
    color:#fff;
}
