body {
    margin:0;
    font-family:Segoe UI,sans-serif;
    background:#1b1b1b;
    color:#eee;
}

.hidden{display:none}

.app{
    display:grid;
    grid-template-columns:250px 1fr 300px;
    height:100vh;
}

/* LOGIN */
.login-container{
    max-width:350px;
    margin:120px auto;
    background:#292929;
    padding:30px;
    border-radius:15px;
    text-align:center;
}

/* GAUCHE */
.left-panel{
    background:#222;
    padding:15px;
    overflow-y:auto;
}

/* CENTRE */
.center{
    padding:30px;
}

.white-box{
    background:#fff;
    color:#000;
    border-radius:25px;
    padding:25px;
}

.categories{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

.categories button{
    background:#ddd;
    color:#000;
}

.products{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(180px,1fr));
    gap:15px;
}

.product{
    background:#f5f5f5;
    padding:15px;
    border-radius:15px;
    display:flex;
    justify-content:space-between;
}

/* PANIER */
.cart{
    background:#fff;
    color:#000;
    padding:20px;
    border-radius:20px 0 0 20px;
}

.cart ul{
    list-style:none;
    padding:0;
}

.cart li{
    margin-bottom:6px;
    font-weight:600;
}

button{
    border:none;
    border-radius:8px;
    padding:8px;
    cursor:pointer;
    background:#ff9800;
    color:#fff;
}
